# For clangd to pick mingw headers, remove for Linux and macOS
CompileFlags:
  Add:
    - "--target=x86_64-w64-windows-gnu"
 
Completion:
  AllScopes: No
  ArgumentLists: Delimiters
  HeaderInsertion: Never
  CodePatterns: None
 
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  Suppress: "pp_including_mainfile_in_preamble"
 
Hover:
  ShowAKA: true
 
InlayHints:
  BlockEnd: true
  Designators: false
  Enabled: false
  ParameterNames: false
  DeducedTypes: false
  DefaultArguments: false
  TypeNameLimit: 24
