InlayHints:
  DeducedTypes: No
  Designators: No
  Enabled: Yes
  ParameterNames: No

Diagnostics:
  UnusedIncludes: Strict
  Suppress: "pp_including_mainfile_in_preamble"

CompileFlags:
  Add: [-DTEDDY_NO_HEADER_ONLY]
