---
Checks: >
  *,
  -altera-*,
  -bugprone-easily-swappable-parameters,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-use-default-member-init,
  -fuchsia-*,
  -llvm-*,
  -llvmlibc-*,
  -hicpp-avoid-c-arrays,
  -hicpp-named-parameter,
  -hicpp-no-malloc,
  -hicpp-use-auto,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -readability-else-after-return,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-access-specifiers,
  -readability-function-cognitive-complexity,
  -readability-use-anyofallof
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
User: michal
...
